[mysqld]

#  Replication settings for dbPROD.pa.ucsf.edu
#  First two rules differ from other server.  Careful before copying over.

server-id                = 1
auto-increment-offset    = 0
master-host              = 64.54.136.113  #  dbaltpa

replicate-same-server-id = 0
auto-increment-increment = 3

master-user              = replication
master-password          = WWmwF_}g%#*k8Z>M<Q{Pa
master-connect-retry     = 60

replicate-do-db          = replication

replicate-do-db          = ucsf_drupal_prod
replicate-ignore-table   = ucsf_drupal_prod.cache_menu
replicate-ignore-table   = ucsf_drupal_prod.cache_admin_menu
replicate-ignore-table   = ucsf_drupal_prod.cache_update
replicate-ignore-table   = ucsf_drupal_prod.cache_form
replicate-ignore-table   = ucsf_drupal_prod.cache_content
replicate-ignore-table   = ucsf_drupal_prod.cache_views
replicate-ignore-table   = ucsf_drupal_prod.cache_views_data
replicate-ignore-table   = ucsf_drupal_prod.cache
replicate-ignore-table   = ucsf_drupal_prod.cache_block
replicate-ignore-table   = ucsf_drupal_prod.cache_filter
replicate-ignore-table   = ucsf_drupal_prod.cache_page

log-bin                  = log-bin
binlog-do-db             = ucsf_drupal_prod
binlog-do-db             = replication

# End replication section

connect_timeout         = 10
datadir                 = /db01/mysql
key_buffer              = 384M
log_slow_queries        = /var/log/mysqld.slow.log
long_query_time         = 2
max_allowed_packet      = 64M
max_connections         = 200
myisam_sort_buffer_size = 64M
old_passwords           = 1
query_cache_limit       = 1M
query_cache_size        = 32M
query_cache_type        = 1
read_buffer_size        = 2M
read_rnd_buffer_size    = 64M
skip-innodb
skip-locking
socket                  = /var/lib/mysql/mysql.sock
sort_buffer_size        = 2M
table_cache             = 4096
table_cache             = 4096
thread_cache            = 32M
thread_cache_size       = 8
thread_concurrency      = 2
user                    = mysql
wait_timeout            = 15


[mysql.server]
user    = mysql
basedir = /var/lib

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file  = /var/run/mysqld/mysqld.pid
