SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly


0 0 * * * root /usr/bin/wget --output-document=- --quiet --tries=1 http://webprod.pa.ucsf.edu/cron.php
0 12 * * * root /usr/bin/wget --output-document=- --quiet --tries=1 http://webprod.pa.ucsf.edu/cron.php
0 14 * * * root /usr/bin/wget --output-document=- --quiet --tries=1 http://webprod.pa.ucsf.edu/cron.php
0 17 * * * root /usr/bin/wget --output-document=- --quiet --tries=1 http://webprod.pa.ucsf.edu/cron.php

