[mysqld]
datadir                  = /db01/mysql
socket                   = /var/lib/mysql/mysql.sock
user                     = mysql

connect_timeout          = 30
innodb_additional_mem_pool_size=20M
innodb_buffer_pool_size=256M
innodb_flush_log_at_trx_commit=1
innodb_lock_wait_timeout = 180
innodb_log_buffer_size   = 64M
# innodb_log_file_size     = 10M
key_buffer               = 384M
log_slow_queries         = /var/log/mysqld.slow.log
long_query_time          = 2
max_allowed_packet       = 64M
max_connections          = 200
myisam_sort_buffer_size  = 64M
old_passwords            = 1
query_cache_limit        = 1M
query_cache_size         = 32M
query_cache_type         = 1
read_buffer_size         = 2M
read_rnd_buffer_size     = 64M
skip-locking
sort_buffer_size         = 2M
table_cache              = 4096
thread_cache             = 32M
thread_cache_size        = 8
thread_concurrency       = 2
wait_timeout             = 900  #  Don't close connections so fast!

[mysql.server]
user    = mysql
basedir = /var/lib

[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file  = /var/run/mysqld/mysqld.pid
